version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: chintu
      POSTGRES_DB: hrmreg
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: node_app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:chintu@db:5432/hrmreg
    ports:
      - "3000:3000"

volumes:
  pgdata:
